<!DOCTYPE html>

<html>
  <head lang="en-US">
    <meta charset="utf-8" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>API para Sistemas Distribuidos</title>
  </head>
  
  <body>
    
    <div class="container"> 
      <h1>Lista de Tarefas</h1>
      <form class="taskForm">
        <label for="description">Descrição</label>
        <input id="description" class="input" placeholder="Digite a descrição da tarefa">
        <label for="date">Prazo</label>
        <input class="input" id="date" type="date">
        <div class="input">
          <label for="pending">Pendente</label>
          <input id="pending" name="status" class="inputRadio" type="radio" value="pending" checked>
          <label for="done">Completa</label>
          <input id="done" name="status" class="inputRadio" type="radio" value="done">
        </div>
        
        <button class="addButton">Adicionar Tarefa</button>
      </form>
      
      <div class="searchContainer">
        <label for="idSearch">ID</label>
        <input id="idSearch" class="input" placeholder="Digite o ID">
        <div>
          <span id="readDescription"></span>
          <span id="readDate"></span>
          <span id="readChecked"></span>
        </div>


        <button class="btnSearch">Buscar Tarefa</button>
      </div>
      
      <h2>Tarefas</h2>
      <ul id="taskList"></ul>
      
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/client.js"></script>
  </body>

</html>